{% extends 'admin/index.html' %}

{% block content %}
<div id="wemo_main">
  <div class="module">
    <table summary="WeMo">
    <caption><a href="#" class="section">WeMo</a></caption>
    <tr>
      <th scope="row" id='loading'>
        Loading...
      </th>
      <td>
        <button onclick='get_status("{% url remotectl:on %}");' style='height: 15px; font-size: 10px;'>On</button>
      </td>
      <td>
        <button onclick='get_status("{% url remotectl:off %}");' style='height: 15px; font-size: 10px;'>Off</button>
      </td>
    </tr>
    </table>
  </div>
</div>

{{ block.super }}
{% endblock %}

{% block extrahead %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type='text/javascript'>
        $(function() {
            var wemo_main = $('#wemo_main').html();
            $('#wemo_main').html('');

            $('#content-main').html(wemo_main + "\n" + 
                $('#content-main').html());

            get_status('{% url remotectl:get %}')
        });

        function get_status(url) {
            $('#loading').html('Loading...');
            $.get(url, function(data) {
                $('#loading').html(data);
            });
        }
    </script>
{% endblock %}
